.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  padding-right: calc(50% - 580px);
  padding-left: calc(50% - 580px);
}

.productContent {
  display: flex;
  flex-wrap: wrap;
  gap: 5.09%;

  padding-top: 249px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.imgBlock {
  display: flex;
  flex-direction: column;

  width: 41.38%;
}

.productData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 53.53%;
  box-sizing: border-box;
}

.previewWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  overflow: hidden;
}

.title {
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;

  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.price {
  font-style: normal;
  font-weight: 600;
  /* font-weight: 500; */
  font-size: 22px;
  line-height: 1.5;
  color: #000000;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.location,
.date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  color: #5f5f5f;

  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.feedback {
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  color: #009ee4;

  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  cursor: pointer;
}

.price {
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.seller {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.avatarWrapper {
  width: 40px;
  min-height: 40px;
}

.sellerName {
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;

  color: #009ee4;

  margin: 0;
  padding: 0;
}

.sellerExp {
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  color: #5f5f5f;

  margin: 0;
  padding: 0;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  /* font-weight: 500; */
  font-size: 32px;
  line-height: 2.2;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  width: 792px;
  padding: 0;
  margin: 0;
  margin-bottom: 117px;
  box-sizing: border-box;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-bottom: 34px;
}

@media (max-width: 1280px) {
  .wrapper {
    padding-right: calc(50% - 440px);
    padding-left: calc(50% - 440px);
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding-right: calc(50% - 350px);
    padding-left: calc(50% - 350px);
  }
}

@media (max-width: 840px) {
  .wrapper {
    padding-right: calc(50% - 320px);
    padding-left: calc(50% - 320px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-right: calc(50% - 300px);
    padding-left: calc(50% - 300px);
  }
}

@media (max-width: 680px) {
  .wrapper {
    padding-right: calc(50% - 200px);
    padding-left: calc(50% - 200px);
  }
}

@media (max-width: 425px) {
  .productContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    width: 100%;
    padding-top: 55px;
    margin-bottom: 30px;
  }

  .imgBlock {
    width: 100%;
  }

  .previewWrapper {
    display: none;
  }

  .title {
    font-size: 18px;
  }

  .location,
  .date {
    font-size: 14px;
    line-height: 1.2;
  }

  .feedback {
    font-size: 14px;
    line-height: 1.36;

    margin-bottom: 20px;
  }

  .price {
    font-size: 18px;
  }

  .productData {
    width: 100%;
    padding-right: calc(50% - 139px);
    padding-left: calc(50% - 139px);
  }

  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    width: 100%;

    margin-bottom: 30px;
  }

  .sellerName {
    font-size: 18px;
  }

  .sellerExp {
    font-size: 14px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.4;

    margin-bottom: 14px;
    padding-right: calc(50% - 139px);
    padding-left: calc(50% - 139px);
  }

  .description {
    font-size: 14px;

    width: 100%;
    margin-bottom: 84px;
    padding-right: calc(50% - 139px);
    padding-left: calc(50% - 139px);
  }
}
