.header {
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  margin-bottom: 43px;

  background-color: #009ee4;
}

/* 
@media (max-width: 425px) {
  .l {
    width: 250px;
  }

  .button {
    font-size: 16px;
    min-height: 40px;
    padding: 14px;
  }
} */
